@model Mousetrackfunctionality.Models.MouseActivity

<h1>Create Mouse Activity</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="XCoordinate">X Coordinate</label>
        <input asp-for="XCoordinate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="YCoordinate">Y Coordinate</label>
        <input asp-for="YCoordinate" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Function to send mouse activity to the server
        function sendMouseActivity(x, y) {
            $.ajax({
                type: "POST",
                url: "/MouseActivity/Create",
                data: JSON.stringify({ XCoordinate: x, YCoordinate: y }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                   
                },
                error: function (error) {
                    console.error("Error sending mouse activity: " + error);
                }
            });
        }

        // Event handler for mousemove
        $(document).mousemove(function (e) {
            // Capture mouse coordinates
            var x = e.pageX;
            var y = e.pageY;

            // Send the coordinates to the server
            sendMouseActivity(x, y);
        });
    });
</script>




